# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*
client/.env
server/.env

# Build folders
dist/
build/
client/dist/

# Logs
*.log

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db